.login-outer {
  display: grid;
  background-color: var(--medium-color);
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.login-container {
  background-color: var(--medium-color);
  min-height: 80vh;
  display: grid;
  place-content: center;
}
.login-form {
  display: grid;
  padding: 2.5rem;
  background-color: var(--light-color);
  gap: 1rem;
  border-radius: 5px;
  text-align: center;
}
.login-form label {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.login-form input {
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--dark-text);
}

.link:visited {
  color: (var(--light-text));
}
