.dashboard {
  background: var(--medium-color);
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  min-height: 80vh;
  border: 1px solid var(--light-color);
  border-radius: 1rem;
  padding: 1rem;
}

.dashboard > * {
  display: flex;
  flex-direction: column;
}
.editor {
  background-color: var(--light-color);
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  justify-content: space-between;
}
.editor-not-mobile {
  grid-template-columns: 0.35fr 0.65fr;
}
.editor-fields {
  max-width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}

.editor-preview {
  max-width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5;
  gap: 0.5rem;
}
.preview > * {
  margin: 0.75rem 0;
}
.textarea {
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem;
  min-height: 500px;
  color: var(--dark-text);
  background-color: var(--off-white);
}
.editor label {
  width: 100%;
}
.editor input {
  width: 100%;
  background-color: var(--off-white);
  color: var(--dark-text);
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr 3fr;
  }
}
/*
.editor {
  display: grid;
  grid-template-columns: minmax(550px, 1fr) 5fr;
  /* place-content: start center;
  place-items: center; 
  min-height: 80vh;
  padding: 1rem;
}
.editor-preview {
  max-width: 75ch;
  width: 100%;
  padding: 1rem;
}

.editor-fields {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.editor-fields textarea {
  width: 500px;
  min-height: 500px;
} */
