.header {
  display: flex;
  padding: 1rem;
  background-color: var(--light-color);
}

.navlink {
  text-decoration: none;
  color: var(--light-text);
  font-weight: 700;
  padding: 0.5rem;
  border: 0.5px solid var(--light-text);
  background-color: var(--light-color);
}

.navlink.active {
  border-right: 5px solid var(--accent-color);
}
.hidden {
  display: none;
}
