@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-color);
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  color: var(--light-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Define colors and other custom variables */
:root {
  --dark-color: #041c32;
  --medium-color: #04293a;
  --light-color: #064663;
  --accent-color: #ecb365;
  --dark-text: #000000;
  --light-text: #ffffff;
  --nav-bg: #666666ff;
  --active: tomato;
  --off-white: #f0f0f0;
}

/* .Toastify__progress-bar--success {
  background: var(--medium-color) !important;
} */
/* Define Utility Classes */
.full-width {
  width: 100%;
}
.pointer {
  cursor: pointer;
}
/* Define Base Layouts */
.container {
  margin-inline: auto;
}

.flex-2-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}
.main {
  padding: 1rem;
}

.btn {
  border-radius: 1rem;
  background-color: var(--off-white);
  color: var(--dark-text);
  max-width: 500px;
  padding: 0.5rem;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--medium-color);
  color: var(--light-text);
}
